{% extends '../layouts/front.layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 content-body">
            <div class="content-list">
                <div class="content-list-header clearfix">
                    <a href="#" class="content-list-header-title">ORBS - SIGNUP</a>
                </div>
                <div class="content-list-content">
                    <form action="">
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
